.container {
  width: 100%;
  height: 100vh;
  background-image: url('hospital-bg.png'); /* imagen */
  background-size: cover;
  background-position: center;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* OSCURECER FONDO */
.container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
}

/* CAJA */
.overlay {
  position: relative;
  background: rgba(0, 0, 0, 0.7);
  padding: 40px;
  border-radius: 15px;
  width: 90%;
  max-width: 400px;

  display: flex;
  flex-direction: column;
  gap: 20px;

  color: white;
  text-align: center;
}

/* SUBTEXTO */
.login-subtitle {
  font-size: 14px;
  color: #ccc;
}

/* INPUTS */
.input-group {
  display: flex;
  align-items: center;
  background: #1e2a44;
  border-radius: 8px;
  padding: 10px;
  gap: 10px;
}

.input-group input {
  background: transparent;
  border: none;
  outline: none;
  color: white;
  width: 100%;
}

/* ICONOS */
.icon {
  font-size: 18px;
  margin: 5px;
  border: 1px solid #ccc;
  width: 1px;
}
.icon-loguser{
  border-radius: 500%;
  overflow: hidden;
  width: 21px;       
  height: 21px;
  background-image: url('user.png'); 
  background-size: contain;
  background-position: center; 
  background-repeat:no-repeat ;

}

.icon-pasw{
  border-radius: 500%;
  overflow: hidden;
  width: 21px;       
  height: 21px;
  background-image: url('padlock.png'); 
  background-size: contain;
  background-position: center; 
  background-repeat:no-repeat ;
}

/* OJO PASSWORD */
.eye {
  cursor: pointer;
  border-radius: 500%;
  overflow: hidden;
  width: 21px;       
  height: 21px;
  background-image: url('eye.png'); 
  background-size: contain;
  background-position: center; 
  background-repeat:no-repeat ;
}

/* EFECTO FOCUS */
.input-group:focus-within {
  border: 1px solid #3b82f6;
  box-shadow: 0 0 8px rgba(59, 130, 246, 0.3);
}

/* OPCIONES */
.options {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  color: #ccc;
}

.link {
  cursor: pointer;
}

/* BOTÓN */
.login-btn {
  padding: 10px;
  border-radius: 8px;
  border: none;
  background: #1e2a44;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.login-btn:hover {
  background: #3b82f6;
}

/* FOOTER */
footer {
  font-size: 12px;
  margin-top: 10px;
}